<div class="container">
    <div class="col-xs-1"></div>
    <div class="col-xs-10">
        <div class="row title">
            Ghazal Artwork & Event Planning
        </div>
        <div class="row contact">
            Contact Us
        </div>
        <div class="row social">
           <a href="https://www.facebook.com/" target="_blank"><fa-icon [icon]="faFacebook"></fa-icon></a>
           <a href="https://www.instagram.com/" target="_blank"><fa-icon [icon]="faInstagram"></fa-icon></a>
           <a href="https://twitter.com/" target="_blank"><fa-icon [icon]="faTwitter"></fa-icon></a>
           <a href="https://www.snapchat.com/"><fa-icon [icon]="faSnapchat" target="_blank"></fa-icon></a>

        </div>
        <hr>
        <div class="row copyright">
            ©GhazalArtworkAndEventPlanning. All Rights Reserved.
        </div>
    </div>
</div>