  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.553);
    transition: 0.3s;
    background-color: white;
    margin-top: 40px;
    border-radius: 5px;
    height: 250px;
  }

  .card img {
    height: 200px;
    object-fit: cover;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    transition: 0.3s;
  }
  .card:hover img {
    height: 150px;
  }
  .cardcontainer {
    text-align: center;
    color: rgb(71, 71, 71);
    height: 50px;
    padding-top: 5px;
    transition: 0.3s;
  }
  .card:hover .cardcontainer {
    height: 100px;
    padding-top: 25px;
  }
  .removebtn{
    margin-top: 5px;
  }
  .removebtn a{
    color: rgb(255, 255, 255);
  }